<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371949094972-m4e2rpthq87gba89e24632r972iu8tlc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371949094972-m4e2rpthq87gba89e24632r972iu8tlc</string>
	<key>API_KEY</key>
	<string>AIzaSyByIWkfEH2UJY7KACS5npK6nkEH5bjdY8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>371949094972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yomencity.boodie</string>
	<key>PROJECT_ID</key>
	<string>boodie-1566650392737</string>
	<key>STORAGE_BUCKET</key>
	<string>boodie-1566650392737.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371949094972:ios:5dfe84e647dd0e11739b39</string>
</dict>
</plist>